a#erlide-new-project-link img { background-image : url(../../images/erlide-48.gif); }
a#erlide-doc-link img { background-image : url(../../images/erlide-48.gif); }
a#erlide-erlang-doc-link img { background-image : url(../../images/erlang-48.gif); }
a#erlide-tuts-link img { background-image : url(../../images/erlide-48.gif); }
